* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    font-size: 18px;
    display: flex;
}

.container {
    display: flex;
    width: 900px;
    margin: 30px auto;
    background: #3492;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* LADO IZQUIERDO */
.left {
    width: 35%;
    background: linear-gradient(180deg, #4e4eff, #3c3cd1);
    color: white;
    padding: 30px;
}

.profile-img {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

.section {
    
    margin-top: 25px;
    
}

.section h2 {
    margin-bottom: 18px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.section ul {
    margin-left: 15px;
    
}

/* LADO DERECHO */
.right {
    width: 65%;
    padding: 40px;
}

.right h1 {
    font-size: 32px;
    color: #3c3cd1;
    margin-bottom: 30px;
}

.right .section h2 {
    color: #3c3cd1;
    margin-bottom: 10px;
    border-bottom: 2px solid #3c3cd1;
    padding-bottom: 5px;
}

.right .section h3 {
    margin-top: 10px;
    color: black;
}

.right ul {
    margin-left: 20px;
}

